<div class="container mt-2">
  <div class="row justify-content-between mb-2">
    <div class="col-12">
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isLoadFailed">
          Error: {{ loadErrorMessage }}
        </div>
        <div
          class="alert alert-success"
          role="alert"
          *ngIf="isSuccess">
          Update task successfully.
        </div>
      </div>
    </div>
    <div class="col-3">
      <ng-container *ngIf="projectId && !isLoadFailed">
        <a class="btn btn-success" style="position: absolute; bottom: 0;" routerLink="/projects/tasks/{{projectId}}/task-create">
          Add Task</a>
      </ng-container>
    </div>
    <div class="col-3">
      <ng-container *ngIf="projectId">
        <div class="form-group mb-0">
          <label for="state">Search by state: </label>
          <select id="state" name="state" #state class="form-control" (change)="refetchTasks(state.value)">
            <option value="ALL">All</option>
            <option value="UN_ASSIGNED">Un assigned</option>
            <option value="OPEN">Open</option>
            <option value="PROGRESS">Progress</option>
            <option value="COMPLETE">Complete</option>
            <option value="PENDING">Pending</option>
          </select>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Deadline</th>
          <th scope="col">Member</th>
          <th scope="col">State</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let task of tasks;let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.deadLine}}</td>
            <td>{{task.user?.fullName}}</td>
            <td>
              <select class="form-control" #state (change)="updateState(task.id, state.value)">
                <option value="PROGRESS" *ngIf="task.state == 'PROGRESS'" selected>PROGRESS</option>
                <option value="PROGRESS" *ngIf="task.state != 'PROGRESS'">PROGRESS</option>
                <option value="OPEN" *ngIf="task.state == 'OPEN'" selected>OPEN</option>
                <option value="OPEN" *ngIf="task.state != 'OPEN'">OPEN</option>
                <option value="COMPLETE" *ngIf="task.state == 'COMPLETE'" selected>COMPLETE</option>
                <option value="COMPLETE" *ngIf="task.state != 'COMPLETE'">COMPLETE</option>
                <option value="PENDING" *ngIf="task.state == 'PENDING'" selected>PENDING</option>
                <option value="PENDING" *ngIf="task.state != 'PENDING'">PENDING</option>
              </select>
            </td>
            <td>{{task.createdDate}}</td>
            <td>
              <a class="btn btn-primary mr-2 mb-2"
                 routerLink="/projects/tasks/{{projectId}}/{{task.id}}/task-update">Edit</a>
              <a class="btn btn-danger" (click)="showDeleteConfirmPopup(task, deleteConfirmPopup)">Delete</a>
            </td>
          </tr>
        </ng-container>


        </tbody>
      </table>

    </div>
  </div>
</div>
<ng-template #deleteConfirmPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete project task dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="task">
    <div class="modal-body">
      <p>Delete task: <b>{{task.title}}.</b> Are you sure?</p>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isFailed">
          Error: {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(task.id, deleteConfirmPopup)">Delete</button>
    </div>
  </ng-container>
</ng-template>
