<div class="container mt-2">
  <div class="row mb-2">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Create new task</h5>
        </div>
        <div class="card-body">
          <form name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isFailed">
                Error: {{ errorMessage }}
              </div>
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text" id="title"
                class="form-control"
                name="title"
                [(ngModel)]="form.title"
                required
                #title="ngModel"/>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="title.errors && f.submitted">
                Title is required!
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control"
                        name="description" id="description"
                        [(ngModel)]="form.description"
                        required
                        #description="ngModel"></textarea>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="description.errors && f.submitted">
                <div *ngIf="description.errors">Description is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="deadLine">Deadline</label>
              <input
                type="date" id="deadLine"
                class="form-control"
                name="deadLine" #date
                [(ngModel)]="form.deadLine"
                required
                #deadLine="ngModel"/>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="deadLine.errors && f.submitted">
                DeadLine is required!
              </div>
            </div>

            <div class="form-group">
              <label for="userId">Assign to:</label>
              <select id="userId" name="userId" #userId="ngModel"
                      [(ngModel)]="form.userId" class="form-control">
                <ng-container *ngFor="let member of members;let i = index">
                  <option value="{{member.user.id}}">{{member.user.fullName}}</option>
                </ng-container>
              </select>
            </div>
            <button class="btn btn-primary">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

