<div class="container mt-2">
  <div class="row mb-2">
    <div class="col-4 offset-8">
      <form name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="isFailed">
            Error: {{ errorMessage }}
          </div>
        </div>
        <label for="email">Add member by email: </label>
        <div class="input-group mb-0">

          <input type="email" id="email"
                 class="form-control"
                 name="email"
                 [(ngModel)]="form.email"
                 required
                 #email="ngModel"
                 placeholder="Member's email" aria-label="Member's email"
                 aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted">
          Email is required!
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">FullName</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let projectMember of projectMembers;let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{projectMember.user.username}}</td>
            <td>{{projectMember.user.fullName}}</td>
            <td>{{projectMember.createdDate}}</td>
            <td>
              <a class="btn btn-danger" (click)="showDeleteConfirmPopup(projectMember, deleteConfirmPopup)">Delete</a>
            </td>
          </tr>
        </ng-container>


        </tbody>
      </table>

    </div>
  </div>
</div>
<ng-template #deleteConfirmPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete project member dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="projectMember">
    <div class="modal-body">
      <p>Delete project: <b>{{projectMember.user.fullName}}.</b> Are you sure?</p>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isFailed">
          Error: {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="deleteProjectMember(projectMember.id, projectMember.project.id, projectMember.user.id, deleteConfirmPopup)">Delete</button>
    </div>
  </ng-container>
</ng-template>
