<div class="container mt-2">
  <div class="row mb-2">
    <div class="col-12">
      <a class="btn btn-success">Add Member</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">FullName</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let projectMember of projectMembers;let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{projectMember.user.username}}</td>
            <td>{{projectMember.user.fullName}}</td>
            <td>{{projectMember.createdDate}}</td>
            <td>
              <a class="btn btn-primary mr-2">Tasks</a>
              <a class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </ng-container>


        </tbody>
      </table>

    </div>
  </div>
</div>
<ng-template #deleteConfirmPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete project member dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="projectMember">
    <div class="modal-body">
      <p>Delete project: <b>{{projectMember.user.fullName}}.</b>  Are you sure?</p>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isFailed">
          Error: {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </ng-container>
</ng-template>
